[Oo]bj/
[Bb]in/
TestResults/
.nuget/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
project.lock.json
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.obj
*.idb
*.tlog
*.userprefs
*.opendb
*.db
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.bin
*.vs/
.testPublish/
.build/
src/*/x86/
src/*/x64/
src/*/win32/
src/*/x86/
src/*/x64/
src/*/win32/
src/*/version.h
src/*/aspnetcore_msg.h