[Oo]bj/
[Bb]in/
TestResults/
.nuget/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
project.lock.json
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.obj
*.idb
*.tlog
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.bin
*.vs/
.testPublish/
.build/
src/iislib/x86/
src/iislib/x64/
src/iislib/win32/
src/aspnetcore/x86/
src/aspnetcore/x64/
src/aspnetcore/win32/