<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet2" value="https://api.nuget.org/v3/index.json" />
    <add key="AspNetCore2" value="https://dotnet.myget.org/F/aspnetcore-dev" />
    <add key="Core" value="http://dotnet.myget.org/F/dotnet-core" />
  </packageSources>
</configuration>
